# dependencies
node_modules/

# production
dist/

# logs
*.log
npm-debug.log*

# local env
.env*

# IDE
.vscode/
.idea/
.gemini/

# OS
.DS_Store
Thumbs.db

# deploy
gh-pages/

# data
.ipynb_checkpoints/
column_extraction/
data_v3/
dataset_v3/
json_merge/
output/